html {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    background-color: #d7d7d7;
    padding: 0;
    margin: 0;
    height: 100%;
}
#main-content {
    width: 1140px;
    background-color: #fff;
    padding: 50px;
    margin: auto;
    height: 100%;
    box-sizing: border-box;
    overflow:auto;
}
.img-content {
    width: 50%;
    height: auto;
    float: left;
    margin-right: 10px;
}